<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_Dvr" />
                <binding name="BasicHttpBinding_Video" />
                <binding name="BasicHttpBinding_Guide" />
                <binding name="BasicHttpBinding_Myth" />
                <binding name="BasicHttpBinding_Content" />
                <binding name="BasicHttpBinding_Channel" />
                <binding name="BasicHttpBinding_Capture" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://hungrymythtv:6544/Dvr" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_Dvr" contract="MythTvDvr.Dvr"
                name="BasicHttpBinding_Dvr" />
            <endpoint address="http://hungrymythtv:6544/Video" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_Video" contract="MythTvVideo.Video"
                name="BasicHttpBinding_Video" />
            <endpoint address="http://hungrymythtv:6544/Guide" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_Guide" contract="MythTvGuide.Guide"
                name="BasicHttpBinding_Guide" />
            <endpoint address="http://hungrymythtv:6544/Myth" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_Myth" contract="MythTvUtility.Myth"
                name="BasicHttpBinding_Myth" />
            <endpoint address="http://hungrymythtv:6544/Content" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_Content" contract="MythTvContent.Content"
                name="BasicHttpBinding_Content" />
            <endpoint address="http://hungrymythtv:6544/Channel" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_Channel" contract="MythTvChannel.Channel"
                name="BasicHttpBinding_Channel" />
            <endpoint address="http://hungrymythtv:6544/Capture" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_Capture" contract="MythTvCapture.Capture"
                name="BasicHttpBinding_Capture" />
        </client>
    </system.serviceModel>
</configuration>